*{
    margin: 0%;
    padding: 0%;
    font-family: 'public Sans';
   
   
}
button{
    position: relative;
}
p{
    line-height: 29px;
}
#div-one{
    display: none;
}
header {
    display: flex;
   
    border: 2px solid white;
    box-shadow: 2px 2px #afafaf;
    padding: 17px 0px;
    position: sticky;
    top: 0;
    background-color: white;
    align-items: center;
}
#img{
    display:none;
}
img.online {
    text-align: center;
    margin: 0 20%;
    margin-bottom: 7%;
}
p.p2 {
    padding: 2%;
}
.div-one {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-left: 35%;
}
.list{
    margin: 0px 14px;
    line-height: 2;
}
.li{
    line-height: 2;
}
.logo {
    margin-left: 7%;
}

button{

    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    padding: 8px 11px;
    background-image: linear-gradient(to right, limegreen , #4aeded)
    
}
.wrap-box{
    display: flex;
    justify-content: space-between;
}
.phone:first-child{
    z-index: 1;
}
.sub-wrap{
    
        padding-top: 20%;
        width: 50%;
        padding-left: 9%;
    
}
.btn1 {
    margin-left: 4%;
}


.wrap3 {
    display: flex;
    justify-content: space-evenly;
    
}

.choplife {
    margin: 1%;
    border: 2px solid white ;
    border-radius: 20px;
    background-color: white;
    width: 20%;
}
.cast {
    width: 93%;
}
.article {
    margin-left: 7%;
    margin-bottom: 6%;
}
.wra {
    margin: 0 4%;
}
.img-wrap {
    margin-left: -1%;
}
img.confetti {
    width: 219px;
    margin: 0%;
}
p.para {
    padding: 2%;
    margin-top: 23px;
}
p.p2 {
    padding: 2%;
}
h6.author {
    padding: 2%;
}
h4.text {
    padding: 4%;
    padding-left: 0px;
}


.onboarding {
    margin: 2%;
    padding: 0 3% 3% 0%;
}
.api {
    margin: 2%;
    padding: 0 3% 3% 0%;
}
.frontend {
    margin-top: 3%;
    margin-left: 7%;
}
.banking {
    margin: 2%;
    padding: 0 3% 3% 0%;
}
.budgeting {
    margin: 2%;
    padding: 0 3% 3% 0%;
}
.phone {
    margin-top: -9%;
    overflow: hidden;
}
.h1{
    margin: 15px 6%;
    font-size: 41px;
}
.paragraph{
    margin: 24px;
}
.btn{
    margin: 24px;
    padding: 4% 16%;
    margin-left: 22px;

}
.btn {
    margin: 24px;
    padding: 4% 16%;
    margin-left: 22px;
    margin-top: 26%;
}
.wrap2 {
    display: flex;
    margin-top: 7%;
    margin-left: 3%;
}
.wrapper{
    height: 100vh;
    background-image: url(../img/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-position: 561px -211px;

}

.divv{
 background-color: #d3d3d326;
   padding:2%; 
}
.wrap1{
    margin: 3% 4% 9% 5%;
    padding: 0 49% 0 0;
}
.h2{
    font-size: 40px;
}
.wrap4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 63px 0px;
    margin-top: 4%;
}
.footer{
  background-color:hsl(233, 89%, 4%);
  color: white;
} 
.btn4{
 margin: 4% 10%;
} 
.social{
       margin-top: 20%;
}

img.confetti {
    width: 98%;
    margin: 0%;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
}
.hamburger{
       display: none;
}

button:hover{
       background-color:purple ;
   }